<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Author: SmartReasons">
  <meta name="theme-color" content="#317EFB" />
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self' https: localhost:* data:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src 'self' https: localhost:* ws://*:*; style-src 'unsafe-inline' https:; object-src 'none';script-src-elem 'self' 'unsafe-inline' 'unsafe-eval' https: localhost:*">
  <meta name="importmap-type" content="systemjs-importmap" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link rel="preconnect" href="https://cdn.jsdelivr.net">

  <!--<script type="systemjs-importmap" src="importmap.json"></script>-->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa-vue": "https://cdn.jsdelivr.net/npm/single-spa-vue@2.5.1/dist/umd/single-spa-vue.min.js",
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@6.0.0/lib/es2015/system/single-spa.min.js",
        "@sreasons/mf-root-config": "//localhost:9000/sreasons-mf-root-config.js",
        "@sreasons/mf-video": "//localhost:8081/app.js",
        "@sreasons/mf-ng-video": "//localhost:4204/main.js",
        "@sreasons/mf-comentarios": "//localhost:8082/app.js",
        "@sreasons/mf-sugerencias": "//localhost:8083/app.js"
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script>
  <% if (isLocal) { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    <% } %>
  

  <style>
    html {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    body {
        font-family: Roboto, sans-serif;
        margin: 0;
    }

    body .content {
      display: flex;
      gap: 1rem;
      margin: auto;
      max-width: 1500px;
      height: 100vh;
    }

    body .content .video-comentarios {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1;
    }

    body .content .video-comentarios .video {
      flex: 1;
    }

    body .content .video-comentarios .comentarios {
      flex: 1;
    }

    body .content .sugerencias {
      width: 400px;
    }

    ::-webkit-scrollbar {
      height: 5px;
      width: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background: #A6AAB7;
      
    }
</style>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <main>
    <div class="content">
      <div class="video-comentarios">
        <div class="video">
          <section id="single-spa-application:@sreasons/mf-video"></section>
          <section id="single-spa-application:@sreasons/mf-ng-video"></section>
        </div>
        <div class="comentarios">
          <section id="single-spa-application:@sreasons/mf-comentarios"></section>
        </div>
      </div>
      <div class="sugerencias">
        <section id="single-spa-application:@sreasons/mf-sugerencias"></section>
      </div>
    </div>
  </main>
  <script>
    System.import('@sreasons/mf-root-config');
    //System.import('@sreasons/erp-mf-styles');
    //System.import('@sreasons/erp-mf-common');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>